<%- include('header'); -%>
<div class="content">
<h1><b>Name:</b> James Bond</h1>
<h1><b>Address:</b> London, United Kingdom</h1> 
<h1><b>Phone:</b> +44 987-654-321</h1>
<h1><b>Email:</b> jamesbond@gmail.com</h1>
</div>
<%- include('footer'); -%>