<%- include('header'); -%>
<div class="content">
<form method="get">
    Enter Username:<input type="text" id="username"><br>
    Enter Passowrd:<input type="text" id="passowrd"><br>
</form>
</div>
<%- include('footer'); -%>