<%- include('header'); -%>
<div class="content">
<form method="post" action="/api/login">
    <b>Enter Username:</b><input type="text" name="username"><br>
    <b>Enter Password:</b><input type="password" name="passwsord"><br>
    <input type="submit"> 

</form>
<p>Dont have an account ? : <a href="/register"> Sign Up </a> </p>
<br>
</div>

<%- include('footer'); -%>