<%- include('header'); -%>
<div class="content">
<form method="post" action="/api/register">
    Create Username:<input type="text" name="username"><br>
    Create Password:<input type="password" name="passwsord"><br>
    Enter Society: <input type="text" name="society"><br>
    Enter Contact:<input type="text" name="contact"><br>
    Enter Address:<input type="text" name="addres"><br>
    Enter ZipCode:<input type="text" name="zipcode"><br>
    Enter City:<input type="text" name="city"><br>
    Enter Phone:<input type="text" name="phone"><br>
    Enter Fax:<input type="text" name="fax"><br>
    Enter Max Outstanding :<input type="text" name="max_outstanding"><br>
    <input type="submit">
</form>
</div>
<%- include('footer'); -%>