<%- include('header'); -%>
<div class="content">
<form method="post">
    Create Username:<input type="text" id="usrname"><br>
    Create Password:<input type="text" id="passowrd"><br>
    Enter Name:<input type="text" id="name"><br>
    Enter Phone Number:<input type="text" id="phonenum"><br>
    Enter Address:<input type="text" id="address"><br>
</form>
</div>
<%- include('footer'); -%>