<%- include('header'); -%>
    <h1>Signed up Successfully!</h1>
    <p>Hello! Welcome to the Webstore!</p>
    <a href="/">
        <input type="button" value ="Home Page">
    </a>
<%- include('footer'); -%>